body,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  /* font-family: "JetBrains Mono", monospace; */
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
}

:root {
  --bg-color: #222831;
  --text-color: #fff6f6;
  --accent-color: #6b8e23;
  --cardBg-color: #373a40;
  --cardText-color: #9fa09f;
}

.light-theme {
  --bg-color: #e3e6e6;
  --text-color: #030000;
  /* --accent-color: #a1c55a; */
  --accent-color: #8db839;
  --cardBg-color: #f5f5f5;
  --cardText-color: #2e2e2e;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  /* transition: all 3s ease; */
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track{
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--accent-color); 
  border-radius: 5px;
}

.swiper-pagination{
  width: 40vw !important;
  height: 1vw;
  position: absolute !important;
  left: 50% !important;
  bottom: 0.5vw !important; 
  transform: translateX(-50%) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
/* global.css */
.swiper-pagination-bullet {
  width: 0.3vw !important;
  height: 0.3vw !important;
  background-color: var(--text-color) !important;
  opacity: 0.5 !important;
  transition: all 0.7s ease;
    margin: 0 0 0 0.5vw !important;

}

.swiper-pagination-bullet-active {
  opacity: 1 !important;
  background: var(--accent-color) !important;
}

.swiper-slide{
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  
  /* margin: 0 0 0 0 !important; */
}

.projetosContentSlide .swiper-slide{
  height: 30vw !important;
  
}

.swiper-slide-active{}

.swiper-slide-visible	{
  
}

.swiper-slide-fully-visible	{
}

.swiper-slide-prev	{}

.swiper-slide-next	{}

