.container {
  width: 100%;
  height: 100vh;
  background-color: var(--bg-color);
}

.inicio {
  width: 100%;
  /* height: 100vh; */
  height: calc(100vh - 83px);
  margin-top: 83px;
  display: flex;
}

.esquerdaInicio {
  width: 50%;
  /* height: 92vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}

.textEsquerdaInicio {
  height: 50vh;
  /* margin-left: 300px; */
  /* margin-left: 14em; */
  /* margin-top: 130px; */
  /* margin-top: 17em; */
  margin: 0;
  padding: 10em 0 0 13em;
  text-align: center;
}

.linha1,
.linha3 {
  /* font-size: 1.5vw; */
  font-size: clamp(12px, 1.5vw, 2.5rem);
}

.linha1 {
  /* margin-left: 110px; */
  /* padding-left: 4em; */
}

.nome {
  color: var(--accent-color);
}

.linha2 {
  font-size: clamp(24px, 2.5vw, 5rem);
}

.linha3 {
  /* margin-left: 65px; */
  /* padding-left: 2.4em; */
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.line {
  flex-grow: 1;
  height: 4px;
  background-color: var(--accent-color);
  max-width: 200px;
}

.linkText {
  color: var(--text-color);
  white-space: nowrap;
}

.link {
  background-color: transparent;
  color: var(--text-color);
  border: none;
  /* font-size: 40px; */
  font-size: clamp(12px, 2vw, 2.5rem);
  position: relative;
  z-index: 1;
}

.link:hover {
  color: var(--accent-color);
}

.direitaInicio {
  width: 50%;
  height: 92vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fotoDireitaInicio {
  /* width: 400px; */
  /* width: 23vw; */
  width: clamp(180px, 17vw, 500px);
  /* position: relative; */
  /* margin-bottom: 200px; */
  /* margin-bottom: 10vw; */
  margin-bottom: clamp(0px, 13vw, 800px);
  border-radius: 50%;
  border: 2px solid var(--accent-color);
  position: relative;
  z-index: 1;
}

.scrollEsquerdaInicio {
  display: flex;
  flex-direction: column; /* empilha os elementos na vertical */
  align-items: center;
  /* margin-left: 300px; */
  margin-left: clamp(220px, 10vw, 250px);
}

.scrollLine {
  width: 4px; /* finura da linha */
  /* height: 150px; altura da linha */
  height: clamp(4vw, 7vw, 400px);
  background-color: var(--accent-color); /* mesma cor usada nas outras linhas */
}

.scroll {
  margin-bottom: 10px;
  /* font-size: 30px; */
  font-size: 1.7vw;
}
/* -------------------------------------- SOBRE --------------------------- */
/* .sobre {
} */

/* .sobreTitulo {
  display: flex;
  align-items: center;
  justify-content: center;                            //nao tava sendo usado
  gap: 30px;
} */

/* .linha {
  flex-grow: 1;
  height: 4px;
  background-color: var(--accent-color);                   //nao tava sendo usado
  max-width: 781px;
} */

/* .contentSobre {
  display: flex;
}

.esquerdaSobre {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 50px 40px;
}

.esquerdaSobreText {
  font-size: 30px;
  color: var(--cardText-color);
} */

/* .direitaSobre {
  width: 50%;
  height: 100vh;
  display: flex; */
/* flex-direction: column; organiza verticalmente */
/* align-items: center; centraliza horizontalmente */
/* gap: 20px; espaço entre "Formações" e o card */
/* } */

/* .formacoesTitle {
  font-size: 30px;
  color: var(--cardText-color);
} */

.sobre {
  /* padding: 0px 500px 0px 500px; */
  padding-top: 5vw;
}

.contentSobre {
  margin: 0 11vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.textArea{
  margin: 1vw 0 3vw 0;
  font-size: 1.2vw;
  color: var(--cardText-color);
}

.cardArea {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 3vw;
  margin-bottom: 7vw;
}

@media (max-width: 1300px) {
  .cardArea{
    flex-direction: column;
  }
}


/* -------------------------------------- TECNOLOGIAS  ---------------------------------------------------------- */

.tecnologias {
}

.tecnologiasContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tecnologiasCategorias {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 7vw;
}

.categoriaBloco {
  margin-bottom: 80px; /* espaço entre FrontEnd, BackEnd e Ferramentas */
}

.titleTecnologias {
  font-size: 38.29px;
  margin-bottom: 20px;
  text-align: center;
}

.cardsLinha {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; /* centraliza horizontalmente */
}
/* -------------------------------------- PROJETOS  ---------------------------------------------------------- */
.projetosContent {
  width: 95%;
  height: 100%;
  margin: 55px;
  flex-wrap: wrap;
  gap: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projetosContentSlide {
  width: 1250px;
  margin-bottom: 7vw;
}

/* .teste {
  display: flex;
  align-items: center;
  justify-content: center;
} */
/* -------------------------------------- CONTATO  ---------------------------------------------------------- */
.contato {
  display: flex;
  flex-direction: column;
}

.contentContato {
  display: flex;
  width: 60%;
  align-self: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
  margin-top: 30px;
}

.textContato {
  font-size: 30px;
  color: var(--cardText-color);
}

.formL1 {
  display: flex;
  justify-content: space-between;
}

.l1,
.l2,
.l3 {
  background-color: var(--cardBg-color);
  border: solid 1px var(--accent-color);
  opacity: 80%;
  color: var(--text-color);
  font-size: 20px;
  padding: 0px 15px;
  margin: 25px;
  font-family: "JetBrains Mono", monospace;
}

.l1 {
  width: 45%;
  height: 54.16px;
}

.formL2 {
  display: flex;
}

.l2 {
  width: 100%;
  height: 54.16px;
}

.formL3 {
  display: flex;
}

.l3 {
  width: 100%;
  height: 153.67px;
  padding-top: 10px;
}

.botaoContato {
  display: flex;
  justify-content: end;
}

.botaoEnviar {
  width: 168.56px;
  height: 53.48px;
  border-radius: 33.85px;
  border: none;
  font-size: 27.08px;
  background-color: var(--accent-color);
  color: var(--bg-color);
  font-family: "JetBrains Mono", monospace;
  margin-right: 20px;
  margin-bottom: 50px;
}

.botaoEnviar:hover {
  background-color: var(--bg-color);
  color: var(--accent-color);
  border: solid 1px var(--accent-color);
}

.botaoEnviar:active {
  transform: scale(0.9);
}
/* -------------------------------------- GERAL  ---------------------------------------------------------- */
.linha {
  flex-grow: 1;
  height: 4px;
  background-color: var(--accent-color);
  /* max-width: 700px; */
  max-width: 12vw;
}

.titulo {
  /* font-size: 45px; */
  font-size: 2.5vw;
}

.separacao {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
